/*SassDocument*/
/*Maps*/
.map-container {
  margin-top: 0px;
  margin-bottom: 30px;
}

.map-container h6 {
  text-align: center;
}

.map-container span.note {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #575757;
}

.map-container .map {
  position: relative;
}

.map-container .map .tooltip {
  margin-left: 0px;
  margin-top: 0px;
}

.map-container .map .pop-up {
  display: none;
  position: absolute;
  width: 30%;
  right: 15px;
  top: 15px;
  background-color: rgba(221, 217, 215, 0.9);
  border-radius: 5px;
  padding: 15px;
  z-index: 1000;
}

.map-container .map .pop-up h6 {
  margin-top: 0;
  color: #666666;
}

.map-container .map .pop-up p {
  color: #666666;
}

.map-container .map .pop-up p:last-child {
  margin-bottom: 0;
}

.map-container .map a:hover .pop-up {
  display: block;
}

.map-container .map button {
  width: 16px;
  height: 28px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  position: absolute;
  margin-top: -32px;
  margin-top-margin-left: -5px;
}

.map-container .map button a {
  color: #25346F;
}

.map-container .map button a .fas {
  color: #E4241F;
}

.map-container .map button a .fas:hover {
  cursor: pointer;
}

.map-container .map button .tool-tip {
  display: none;
  position: absolute;
  width: 100px;
  background-color: #000000;
  z-index: 1000;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  padding: 3px 6px;
}

.map-container .map button .tool-tip a:link {
  text-align: left;
  color: #ffffff;
}

.map-container .map button .tool-tip a:visited {
  color: #ffffff;
}

.map-container .map button .tool-tip a:hover {
  color: #ffffff;
}

.map-container .map button .tool-tip:hover {
  cursor: pointer;
}

.map-container .map button:hover .tool-tip {
  display: block;
}

.map-container .map button.icon-fix {
  width: 51px;
  height: 58px;
  margin-top: -58px;
  margin-top-margin-left: -25.5px;
}

.map-container .map button.icon-fix img {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.map-container .map button.icon-fix i.fas {
  color: #E4241F;
}

.map-container .map button.icon-fix2 {
  width: 58px;
  height: 51px;
  margin-top: -21.5px;
  margin-top-margin-left: -58px;
}

.map-container .map button.icon-fix2 img {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  -webkit-filter-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.map-container .map button.icon-fix3 {
  width: 11px;
  height: 11px;
  margin-top: -5.5px;
  margin-top-margin-left: -5.5px;
}

.map-container .map button.icon-fix:hover {
  z-index: 10000;
}

.tool-tip2 {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 1000;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 8px;
}

.tooltiphover {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-size: 1.4rem;
}

li, table, p, a {
  font-family: 'Calibri', 'Arial', sans-serif;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.section {
  text-align: center;
}

a.button-default {
  display: inline-block;
  background-color: #0D7D35;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

a.button-default:hover {
  text-decoration: none;
  background-color: #063818;
}

a.button-white {
  display: inline-block;
  background-color: #fff;
  color: #0D7D35;
  padding: 7px 15px 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

a.button-white:hover {
  text-decoration: none;
  background-color: #d9d9d9;
}

a.button-blue {
  display: inline-block;
  background-color: #00A0C1;
  color: #ffffff;
  padding: 7px 15px 10px 15px;
  border-radius: 0;
  font-size: 14px;
}

a.button-blue:hover {
  text-decoration: none;
  background-color: #006175;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h1.title {
  font-weight: 500;
  font-size: 28px;
  border-bottom: solid 1px #C4C4C4;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

a.view-all {
  position: absolute;
  right: 15px;
  top: 4px;
}

a.view-all:link {
  color: #58697E;
  text-decoration: none;
}

a.view-all:hover {
  color: #58697E;
  text-decoration: underline;
}

a.view-all:visited {
  color: #58697E;
  text-decoration: none;
}

@media (min-width: 768px) {
  a.view-all {
    top: 10px;
  }
}

table thead tr td, table thead tr th {
  background-color: #002B51;
  color: #ffffff;
  padding: 15px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
  text-align: center;
}

table thead tr td:first-child, table thead tr th:first-child {
  width: 30%;
}

table thead tr td:last-child, table thead tr th:last-child {
  width: 70%;
}

table tbody tr td {
  background-color: #DED5C3;
  padding: 15px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

table tbody tr td p:last-child {
  margin-bottom: 0;
}

table.events {
  margin-top: 30px;
}

@media (min-width: 768px) {
  table thead tr td:first-child {
    width: 20%;
  }
  table thead tr td:nth-child(2) {
    width: 60%;
  }
  table thead tr td:last-child {
    width: 20%;
  }
  table tbody tr td:first-child {
    text-align: center;
  }
}

header {
  margin-top: 42px;
  position: relative;
  width: 100%;
  display: block;
  background: #ffffff;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}

header .logo {
  margin-top: 15px;
  text-align: center;
}

header .logo img {
  width: 160px;
}

header ul.logo-group {
  margin-top: 15px;
  margin-bottom: 0;
}

header ul.logo-group li {
  list-style: none;
  width: 33.33%;
  text-align: center;
  float: left;
}

header ul.logo-group li img {
  height: 40px;
}

@media (min-width: 768px) {
  header {
    padding: 15px 0;
    border-bottom: none;
  }
  header .logo {
    margin-top: 0;
    text-align: left;
  }
  header .logo img {
    width: 170px;
  }
  header ul.logo-group {
    margin-top: 0px;
    float: right;
  }
  header ul.logo-group li {
    width: auto;
    list-style: none;
    margin-right: 30px;
    text-align: left;
  }
  header ul.logo-group li img {
    height: auto;
  }
  header ul.logo-group li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  header {
    margin-top: 0;
  }
}

.search-box-container {
  position: absolute;
  right: 30px;
  top: 3px;
  z-index: 1001;
}

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s, -webkit-box-shadow 0.6s;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #2b97ac;
  float: right;
}

.search-box + label i.fas {
  color: #fff;
  position: absolute;
  left: 11px;
}

.search-box:hover {
  color: #ffffff;
  background: #c8c8c8;
  -webkit-box-shadow: 0 0 0 5px #3d4752;
          box-shadow: 0 0 0 5px #3d4752;
}

.search-box:hover + label .search-icon {
  color: #ffffff;
}

.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 280px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.search-box:focus + label i.fas {
  color: black;
}

.search-box:not(:focus) {
  color: #002B51;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  right: -14px;
  top: -27px;
  color: white;
  cursor: pointer;
}

@media (min-width: 992px) {
  .search-box-container {
    right: 115px;
  }
}

.mobile-menu {
  top: 0;
  min-height: 42px;
  background-color: #25346F;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.mobile-menu a.mobile-link {
  font-weight: bold;
  margin-top: 8px;
  display: block;
  color: #ffffff;
}

.card-header {
  padding: 0;
  background-color: #25346F;
  border-bottom: 1px solid #25346F;
}

.card-header .btn-link {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
}

.card-header .btn-link a {
  color: #ffffff;
}

.card-body {
  padding: 15px;
}

.card-body ul {
  margin-left: 0 !important;
}

.card-body ul li {
  list-style: none;
  line-height: 35px;
}

.card-body ul li a {
  font-size: 14px;
  color: #002B51;
  text-decoration: underline;
}

.card-body ul li ul {
  margin-left: 30px !important;
}

.card-body ul li ul li {
  list-style: disc;
}

.card-body ul li ul li a {
  color: #25346F;
}

.card-body ul li ul ul li a {
  color: #666666;
}

.faq-card .card-body ul li {
  list-style: disc !important;
  margin-left: 30px !important;
}

nav {
  display: none;
  min-height: 42px;
  background-color: #25346F;
}

nav .nav-container .site-nav {
  position: relative;
  margin-left: 0;
  float: left;
  z-index: 1000;
}

nav .nav-container .site-nav ul li {
  float: left;
  list-style: none;
}

nav .nav-container .site-nav ul li a {
  display: block;
  font-size: 15px;
  padding: 10px 17px;
}

nav .nav-container .site-nav ul li a .fa {
  margin-top: 6px;
}

nav .nav-container .site-nav ul li a:link {
  color: #ffffff;
}

nav .nav-container .site-nav ul li a:visited, nav .nav-container .site-nav ul li a:hover {
  color: #ffffff;
}

nav .nav-container .site-nav ul li ul.site-nav-child {
  display: none;
}

nav .nav-container .site-nav ul li:hover a {
  background-color: #324695;
}

nav .nav-container .site-nav ul li.active a {
  background-color: #324695;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child {
  margin-top: 0px;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 240px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li {
  position: relative;
  float: none;
  border-bottom: solid 1px #D8D8D8;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li ul.site-nav-child {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li a {
  color: #25346F;
  background-color: #fff;
  padding: 10px 30px 10px 15px;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li a:after {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li:hover a {
  background-color: #324695;
  color: #fff;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li:last-child {
  border-bottom: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child a:after {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  bottom: 45%;
  background: url("../images/caret_right.png") no-repeat !important;
  width: 4px;
  height: 6px;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child {
  top: 0;
  background-color: #324695;
  display: block;
  position: absolute;
  left: 100%;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li {
  border-left: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  width: 100%;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li a {
  text-transform: none;
  width: auto;
  height: auto;
  background-color: #fff;
  color: #003150;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li a:after {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li ul.site-nav-child {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li:hover {
  background-color: #324695;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li:hover a {
  background-color: #324695;
  color: #fff;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child a:after {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  bottom: 45%;
  background: url("../images/caret_right.png") no-repeat !important;
  width: 4px;
  height: 6px;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child {
  display: block;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li a:after {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li a {
  text-transform: none;
  width: auto;
  height: auto;
  background-color: #fff;
  color: #003150;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li ul.site-nav-child {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li:hover {
  background-color: #324695;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li:hover a {
  background-color: #324695;
  color: #fff;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child a:after {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  bottom: 45%;
  background: url("../images/caret_right.png") no-repeat !important;
  width: 4px;
  height: 6px;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child {
  display: block;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li a:after {
  display: none;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li a {
  text-transform: none;
  width: auto;
  height: auto;
  background-color: #fff;
  color: #003150;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li:hover {
  background-color: #324695;
}

nav .nav-container .site-nav ul li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li.has-child:hover ul.site-nav-child li:hover a {
  background-color: #324695;
  color: #fff;
}

nav .nav-container .site-nav ul li.has-child:hover ul.alumni-menu {
  width: 200px;
}

nav .nav-container .site-nav ul li.has-child:hover ul.alumni-menu li ul {
  width: 200px;
}

.language-container {
  position: absolute;
  right: 15px;
  top: 8px;
  z-index: 1000;
}

.language-container ul {
  margin-bottom: 0;
}

.language-container ul li {
  list-style: none;
  float: left;
}

.language-container ul li a {
  padding: 5px 10px;
}

.language-container ul li a:link {
  color: #ffffff;
  background-color: #828282;
}

.language-container ul li a:hover {
  color: #ffffff;
  background-color: #9c9c9c;
}

.language-container ul li a:visited {
  color: #ffffff;
}

.language-container ul li a.active {
  background-color: #EB5757;
}

.mobile-language {
  top: 10px;
  right: 77px;
}

@media (min-width: 992px) {
  nav {
    display: block;
  }
  nav .nav-container .site-nav ul li a {
    font-size: 14px;
    padding: 10px 8px;
  }
}

@media (min-width: 1200px) {
  nav .nav-container .site-nav ul li a {
    font-size: 15px;
    padding: 10px 17px;
  }
}

.flexslider {
  border: none;
  margin: 0;
  border-radius: 0;
  background: #002d53;
}

.flexslider ul li {
  position: relative;
}

.flexslider ul li img.desktop {
  display: none;
}

.flexslider ul li img.mobile {
  display: block;
}

.flexslider .flex-direction-nav {
  position: absolute;
  width: 100%;
  top: 50%;
}

.flexslider .flex-direction-nav a {
  height: 30px;
  top: 50%;
}

.flexslider .flex-direction-nav a:before {
  font-size: 24px;
}

.flexslider .flex-control-nav {
  bottom: -30px;
}

.flexslider .flex-caption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.flexslider .flex-caption-container .flex-caption h1 {
  font-size: 28px;
}

.flexslider .flex-caption-container .flex-caption p {
  font-size: 0.8rem;
}

.flexslider .flex-caption-container .flex-caption p span.copyright {
  font-size: 12px;
}

.flexslider .flex-caption-container .flex-caption p:last-child {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .flexslider {
    overflow: hidden;
  }
  .flexslider ul li img.desktop {
    display: block;
  }
  .flexslider ul li img.mobile {
    display: none;
  }
  .flexslider .flex-control-nav {
    bottom: 0px;
  }
  .flexslider .flex-direction-nav {
    margin-top: -30px;
  }
  .flexslider .flex-direction-nav a {
    height: 60px;
    top: 50%;
  }
  .flexslider .flex-direction-nav a:before {
    font-size: 40px;
  }
  .flexslider .flex-caption-container {
    color: #25346F;
    position: absolute;
  }
  .flexslider .flex-caption-container .flex-caption {
    width: 100%;
  }
  .flexslider .flex-caption-container .flex-caption h1 {
    font-size: 42px;
  }
  .flexslider .flex-caption-container .flex-caption p {
    font-size: 18px;
    line-height: 24px;
  }
  .flexslider .flex-caption-container .flex-caption p span.copyright {
    font-size: 11px;
  }
}

main {
  min-height: calc(100vh - 365px);
}

main .landing-overview .overview {
  margin-bottom: 30px;
}

main .latest-news {
  background-color: #ffffff;
}

main .latest-news .news-highlight {
  background-color: #C1E2E5;
  margin-bottom: 30px;
}

main .latest-news .news-highlight .news-highlight-content {
  padding: 15px;
  color: #002B51;
}

main .latest-news .news-highlight .news-highlight-content h1 {
  font-size: 18px;
}

main .latest-news .news-highlight .news-highlight-content p {
  font-size: 0.8rem;
}

main .latest-news .news-highlight .news-highlight-content p span.date {
  font-size: 13px;
}

main .content h3 {
  font-size: 21px;
  color: #0D7D35;
  font-weight: bold;
  margin-bottom: 15px;
}

main .content ul {
  margin-left: 40px;
}

main .content img {
  margin-bottom: 30px;
}

main .content iframe {
  width: 100%;
  margin-bottom: 30px;
}

main .content .latest-news article.news-item {
  margin-bottom: 15px;
}

main .content .latest-news article.news-item .news-thumb {
  border: solid 1px #B0B0B0;
}

main .content .latest-news img {
  margin-bottom: 0;
}

main .content ul.pagination {
  margin-top: 30px;
  margin-left: 0;
}

main .content ul.links {
  margin-left: 0;
}

main .content ul.links li {
  list-style: none;
  border-bottom: solid 1px #E9E9E9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

main .content ul.links li i.fas {
  margin-right: 10px;
}

main .content .accordion .card {
  margin-bottom: 15px;
}

main .content .accordion .card .card-header {
  background-color: #ffffff;
  border-bottom: none;
}

main .content .accordion .card .card-header .btn-link {
  color: #25346F;
  font-family: 'dosis', 'arial', sans-serif;
}

main .content .accordion .card .card-header .btn-link i.fas {
  margin-right: 5px;
  color: #0D7D35;
}

main .content .accordion .card .card-body {
  padding-top: 0;
}

main .content .accordion .card .card-body ul {
  margin-bottom: 0;
  margin-left: 22px !important;
}

main .content .accordion .card .card-body ul li i.fas {
  margin-right: 10px;
}

main .content .accordion > .card:first-of-type {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

main .content .accordion > .card:not(:first-of-type) {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

main .featured-section {
  padding: 30px 0;
  width: 100%;
  background-color: #F2F2F2;
}

main .featured-section .feature-box {
  margin-bottom: 30px;
}

main .featured-section .feature-box .feature-title h3.title {
  font-size: 21px;
}

main .featured-section .feature-box .feature-image {
  background-size: cover;
  background-position: center center;
}

main .featured-section .feature-box .feature-image img.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 62px;
  height: 62px;
  margin-top: -31px;
  margin-left: -31px;
}

main .featured-section .feature-box .feature-image-text h4 {
  font-family: Calibri, Arial, sans-serif;
  background-color: #ffffff;
  color: #636463;
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
}

main .featured-section .feature-box a {
  display: block;
}

main .featured-section .feature-box a.feature-content:hover {
  opacity: 0.8;
  text-decoration: none;
}

main .subscribe-newsletter {
  padding: 30px 0;
  width: 100%;
  background-color: #25346F;
  color: #ffffff;
}

main .subscribe-newsletter img {
  max-width: 150px;
}

main .subscribe-newsletter form {
  margin-top: 30px;
}

main .subscribe-newsletter form .form-group button {
  margin-top: 32px;
}

.media-container .form-inline {
  margin-bottom: 10px;
}

.media-container .media {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.media-container .media .media-image {
  background-size: cover;
  background-position: center center;
}

.media-container .media .media-image img {
  margin-bottom: 0;
}

.media-container .media .media-image img.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-top: -31px;
  margin-left: -31px;
}

.media-container .media .media-image-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.297356)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.297356) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 15px 30px;
}

.media-container .media .media-image-text h2 {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}

.media-container .media .media-image-text h4 {
  font-family: Calibri, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
}

.media-container .media a {
  display: block;
}

.media-container .media a.media-content:hover {
  opacity: 0.8;
  text-decoration: none;
}

@media (min-width: 768px) {
  main .landing-overview .overview {
    margin-bottom: 0;
  }
  main .featured-section {
    padding: 50px 0;
  }
  main .featured-section .feature-box {
    margin-bottom: 0;
  }
  main .featured-section .feature-box .feature-title h3.title {
    font-size: 24px;
  }
  main .featured-section .feature-box .feature-image-text h4 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  main .subscribe-newsletter form .form-group {
    margin-bottom: 0;
  }
}

.side-nav {
  margin-top: 47px;
  background-color: #F2F2F2;
  width: 90%;
  padding: 30px;
  overflow: auto;
  float: right;
}

.side-nav h4 {
  font-size: 21px;
  font-weight: bold;
  color: #25346F;
  margin-bottom: 30px;
}

.side-nav ul li {
  list-style: none;
  margin-bottom: 15px;
}

.side-nav ul li a:link {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #25346F;
}

.side-nav ul li a:hover {
  background-color: #25346F;
  color: #ffffff;
  text-decoration: none;
}

.side-nav ul li a:visited {
  background-color: #ffffff;
  color: #25346F;
}

.side-nav ul li a.active {
  background-color: #25346F;
  color: #ffffff;
}

.side-nav ul li.has-child a:link, .side-nav ul li.has-child a:visited, .side-nav ul li.has-child a:active {
  background-color: #25346F;
  color: #ffffff;
}

.side-nav ul li.has-child ul {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
}

.side-nav ul li.has-child ul li {
  margin-bottom: 0;
}

.side-nav ul li.has-child ul li a:link, .side-nav ul li.has-child ul li a:visited {
  background-color: transparent;
  color: #25346F;
  padding: 5px 15px;
}

.side-nav ul li.has-child ul li a:hover {
  color: #384fa8;
  text-decoration: underline;
}

.star {
  width: 18px;
  margin-top: -10px;
}

.title {
  color: #58697E;
}

.base-padding {
  padding: 40px 0;
}

img {
  max-width: 100%;
}

article.news-item {
  margin-bottom: 30px;
}

article.news-item .news-thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article.news-item .news-thumb img {
  width: 100%;
}

article.news-item .news-content h1 {
  font-size: 16px;
  color: #636463;
  font-weight: bold;
}

article.news-item .news-content p {
  color: #212529;
  font-size: 0.8rem;
  margin-bottom: 0;
}

article.news-item .news-content p span.date {
  font-size: 13px;
  color: #A4A4A4;
}

article.news-item:hover .news-thumb {
  opacity: 0.8;
}

article.news-item:last-child {
  margin-bottom: 0;
}

.events .event-item {
  border-bottom: solid 1px #E9E9E9;
  margin-bottom: 15px;
}

.events .event-item h1 {
  font-size: 16px;
  color: #636463;
  font-weight: bold;
}

.events .event-item p {
  color: #636463;
}

.events .event-item p .far, .events .event-item p .fas {
  min-width: 20px;
  text-align: center;
  color: #25346F;
  margin-right: 5px;
}

.events .event-item p .far a:link, .events .event-item p .fas a:link {
  font-weight: bold;
}

.modal .modal-content .modal-body p span.date {
  font-size: 13px;
  color: #A4A4A4;
}

.related-articles h2 {
  text-align: center;
  color: #58697E;
  margin-bottom: 30px;
}

.related-articles .related-item .related-thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.related-articles .related-item .related-thumb img {
  width: 100%;
}

.related-articles .related-content h1 {
  font-size: 16px;
  color: #636463;
  font-weight: bold;
  margin-bottom: 10px;
}

.related-articles .related-content p {
  color: #212529;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.related-articles .related-content p span.date {
  font-size: 13px;
  color: #A4A4A4;
}

.news-detail img.main {
  margin-bottom: 30px;
}

.news-detail h1 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #58697E;
}

.news-detail h3 {
  font-size: 16px;
  margin-top: 30px;
}

.news-detail p, .news-detail li {
  color: #666666;
  font-size: 0.8rem;
}

.news-detail p span.date, .news-detail li span.date {
  font-size: 13px;
  color: #A4A4A4;
}

.news-detail p span.add-to-any, .news-detail li span.add-to-any {
  color: #337ab7;
  font-weight: bold;
}

.news-detail iframe {
  width: 100%;
}

.breadcrumbs-container {
  background-color: #e9ecef;
}

.breadcrumbs-container ol.breadcrumb {
  margin: 0;
}

.breadcrumbs-container ol.breadcrumb li.breadcrumb-item {
  font-size: 0.9rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\203A";
}

form .form-group label {
  font-family: 'calibri', 'arial', sans-serif;
}

form .form-group label span {
  color: red;
}

#backtotop {
  display: inline-block;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #8A8A8A;
  font-size: 12px;
  line-height: 14px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}

#backtotop .fas {
  color: #00A0C1;
  font-size: 18px;
}

#backtotop:hover {
  cursor: pointer;
  background-color: #ffffff;
  opacity: 0.8;
}

#backtotop:active {
  background-color: #ffffff;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .base-padding {
    padding: 30px 0;
  }
  article.news-item {
    margin-bottom: 0;
  }
  article.news-item .news-content {
    margin-bottom: 30px;
  }
  article.news-item .news-content h1 {
    font-size: 16px;
  }
  article.news-item .news-content p {
    font-size: 0.9rem;
  }
  article.news-item .news-content p span.date {
    font-size: 14px;
  }
  .news-detail h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .news-detail h3 {
    font-size: 24px;
    margin-top: 50px;
  }
  .news-detail p, .news-detail li {
    font-size: 1rem;
  }
  .news-detail p span.date, .news-detail li span.date {
    font-size: 14px;
  }
  ul.breadcrumbs {
    margin-left: 0 !important;
  }
  ul.breadcrumbs li {
    font-size: inherit;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  article.news-item .news-content h1 {
    font-size: 18px;
  }
  article.news-item .news-content p span.date, article.news-item .news-content li span.date {
    font-size: 15px;
  }
  .news-detail iframe {
    width: 640px;
  }
}

footer {
  background-color: #EDEDED;
  padding: 30px 0 0;
  color: #636463;
}

footer h1 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

footer ul li {
  overflow: auto;
  list-style: none;
  float: none;
  margin-bottom: 15px;
}

footer ul li .icon {
  float: left;
  margin-right: 15px;
}

footer ul li .icon img {
  max-width: 38px;
}

footer ul li .icon-content {
  margin-top: 5px;
  float: left;
  width: 70%;
}

footer ul li .icon-content p {
  margin-bottom: 5px;
}

footer .cardno {
  position: relative;
  right: 0;
  bottom: 0;
  text-align: center;
}

footer .cardno img {
  max-width: 187px;
  mix-blend-mode: multiply;
}

footer .copyright {
  background-color: #DEDEDE;
  text-align: center;
  margin-top: 15px;
  padding: 15px 0;
}

footer .copyright p {
  font-size: 0.8rem;
  margin: 0;
}

footer .copyright ul {
  margin: 0 auto;
  width: 270px;
}

footer .copyright ul li {
  float: left;
  list-style: none;
  margin-left: 20px;
  margin-bottom: 0;
}

footer .copyright ul li a:link {
  color: #636463;
  text-decoration: none;
}

footer .copyright ul li a:active {
  color: #636463;
}

footer .copyright ul li a:hover {
  color: #636463;
  text-decoration: underline;
}

footer .copyright ul li a:visited {
  color: #636463;
}

footer .copyright ul li:first-child {
  margin-left: 0;
}

@media (min-width: 768px) {
  footer {
    padding: 30px 0 0;
  }
  footer h1 {
    text-align: left;
  }
  footer .cardno {
    position: absolute;
    right: 15px;
    bottom: 0;
    text-align: right;
  }
  footer ul li .icon-content {
    width: auto;
  }
  footer .footer-logo {
    text-align: left;
  }
  footer .copyright ul {
    width: auto;
    float: right;
  }
  footer .copyright ul li {
    margin-left: 30px;
  }
}

@media (min-width: 992px) {
  footer .footer-logo {
    margin-bottom: 0;
  }
  footer .footer-logo p {
    font-size: 0.9rem;
  }
  footer .footer-links h1 {
    margin-bottom: 30px;
  }
  footer .footer-links ul li {
    font-size: 0.9rem;
    line-height: inherit;
  }
  footer .copyright {
    text-align: left;
    margin-top: 15px;
  }
  footer .copyright p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  footer .footer-logo p {
    font-size: 1rem;
  }
  footer .footer-links ul li {
    font-size: 1rem;
  }
  footer .copyright p {
    font-size: inherit;
  }
}

.smart-forms {
  margin-top: 30px;
}

.smart-forms .row {
  margin-top: 0 !important;
}

.smart-forms .section {
  margin-bottom: 0;
  text-align: left;
}

.smart-forms .btn-custom {
  background-color: #00A0C1;
  color: #ffffff;
  border-radius: 0;
  float: right;
  margin-top: 15px;
}

.smart-forms .select .arrow2 {
  position: absolute;
  right: 25px;
  top: 9px;
  z-index: 10;
}

.smart-forms .select .double:before {
  position: absolute;
  bottom: -26px;
}

.smart-forms .select .double:after {
  position: absolute;
  top: -4px;
}

.smart-forms .gui-textarea {
  height: 199px !important;
}
/*# sourceMappingURL=style.css.map */